/* Footer Copyright Setting */

.footer-copyright {
    font-size: 12px;
    color: #a8acb1;
    background: #1d2226;
    padding: 15px 0;
    
    .clearfix();
    &  .copyright {
        float: left;
        line-height: 30px;
    }
    &  .payment-method {
        float: right;
        text-align: right;
    }
    &  .payment-method img {
        max-height: 30px;
    }
}