/* Blue Theme */

.brand-logo {
    border-color: #2F83CF #2a72b5 #1f5688;
}
a,
.sidebar-social-list > li a:hover,
.sidebar-social-list > li a:focus,
.navbar .nav.navbar-nav > li.active > a, 
.navbar .nav.navbar-nav > li > a:focus, 
.navbar .nav.navbar-nav > li > a:hover {
    color: @blue;
}
a:hover,
a:focus {
    color: @dark_blue;
}
.pace-progress {
    background: @dark_blue;
}
.pace .pace-activity {
    border-top-color: @blue;
    border-left-color: @blue;
}