/* Orange Theme */

.brand-logo {
    border-color: #DF8F19 #c47d15 #935e10;
}
a,
.sidebar-social-list > li a:hover,
.sidebar-social-list > li a:focus,
.navbar .nav.navbar-nav > li.active > a, 
.navbar .nav.navbar-nav > li > a:focus, 
.navbar .nav.navbar-nav > li > a:hover {
    color: @orange;
}
a:hover,
a:focus {
    color: @dark_orange;
}
.pace-progress {
    background: @orange;
}
.pace .pace-activity {
    border-top-color: @orange;
    border-left-color: @orange;
}