/* Purple Theme */

.brand-logo {
    border-color: #6670AC #5b6392 #444a6d;
}
a,
.sidebar-social-list > li a:hover,
.sidebar-social-list > li a:focus,
.navbar .nav.navbar-nav > li.active > a, 
.navbar .nav.navbar-nav > li > a:focus, 
.navbar .nav.navbar-nav > li > a:hover {
    color: @purple;
}
a:hover,
a:focus {
    color: @dark_purple;
}
.pace-progress {
    background: @purple;
}
.pace .pace-activity {
    border-top-color: @purple;
    border-left-color: @purple;
}