/* Red Theme */

.brand-logo {
    border-color: #F8504B #cc4946 #993734;
}
a,
.sidebar-social-list > li a:hover,
.sidebar-social-list > li a:focus,
.navbar .nav.navbar-nav > li.active > a, 
.navbar .nav.navbar-nav > li > a:focus, 
.navbar .nav.navbar-nav > li > a:hover {
    color: @red;
}
a:hover,
a:focus {
    color: @dark_red;
}
.pace-progress {
    background: @red;
}
.pace .pace-activity {
    border-top-color: @red;
    border-left-color: @red;
}